{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    <div class="container">

        {% include "test/alert.html.twig" %}

        <a href="{{ path('insert')}}" class="btn btn-success mb-4">Ajout d'un nouveau produit</a>

        <div class="d-flex flex-row justify-content-around flex-wrap row">
            {% for produit in listeProduits %}
            <div class="col-md-4">
                <div class="card text-center d-flex align-items-center">

                    <img src="{{ asset("img/"~produit.lienImage) }}" class="card-img-top" style="max-width:200px;"alt="image">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                        <ul class="list-group list-group-flush">
                            {% if produit.reference is not null %}
                                <li class="list-group-item">
                                    Référence: {{ produit.reference.numero }} 
                                </li>
                            {% endif %}
                                <li class="list-group-item">
                            {% if produit.distributeurs is not null %}
                            Distributeurs:
                            {% for distributeur in produit.distributeurs %}
                                    {{distributeur.nom}}&nbsp;
                            {% endfor %}
                            {% endif %}
                                </li> 

                            <li class="list-group-item">
                                Prix: {{ produit.prix }} €
                            </li>
                            <li class="list-group-item">
                                {% if produit.rupture %}
                                    <strong>Rutpture de stock</strong>
                                {% else %}
                                    Quantité: {{ produit.quantite }}
                                {% endif %}
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="{{ path('update', {'id': produit.id} )}}" class="btn btn-primary">Mettre à jour</a>
                            <a href="{{ path('delete', {'id': produit.id} )}}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
