<div class="container">

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="{{ path('test')}}">Accueil</a>
      <a class="p-2 link-secondary" href="{{ path('hello')}}">Hello</a>
      <a class="p-2 link-secondary" href="{{ path('liste')}}">Liste des produits</a>
      <a class="p-2 link-secondary" href="{{ path('distributeurs')}}">Liste des distributeurs</a>
      <a class="p-2 link-secondary" href="{{ path('insert')}}">Nouveau produit</a>
      {# <a class="p-2 link-secondary" href="#">Politics</a>
      <a class="p-2 link-secondary" href="#">Opinion</a>
      <a class="p-2 link-secondary" href="#">Science</a>
      <a class="p-2 link-secondary" href="#">Health</a>
      <a class="p-2 link-secondary" href="#">Style</a>
      <a class="p-2 link-secondary" href="#">Travel</a> #}
    </nav>
  </div>
</div>